img {
  display: block;
  max-width: 100%;
}

.layout-column--one-sixth {
  width: 16.66667%;
}

.layout-column--one-third {
  width: 33.33334%;
}

.clearfix {
  clear: both;
  float: none;
  display: block;
}

.form-color {
  display: block;
  width: 100%;
  padding: 0;
}

.details-wrapper:after {
  content: "";
  clear: both;
  display: block;
}

.flex-container {
  display: flex;
  display: -webkit-flex;
}

.flex-container .flex-center {
  align-self: center;
  -webkit-align-self: center;
}

.mockup {
  background: #fff;
  border: 1px solid #e1e1e1;
  box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.08);
  font-family: 'Georgia', serif;
  padding: 20px 50px 50px;
  position: relative;
}

.mockup:before {
  top: -30px;
}

.mockup:after {
  top: 100%;
}

.mockup .logo-img {
  height: 35px;
  margin: 0 auto;
}

.mockup .mockup-head {
  border-color: #1b93f2;
  border-style: solid;
  border-width: 1px 0;
  margin: 20px 0;
  padding: 5px 0 15px 0;
}

.mockup .mockup-head h1 {
  color: #1b93f2;
  font-family: 'Times', serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 40px;
}

.mockup .mockup-cont > p {
  margin: 0 0 20px;
}

.mockup .mockup-cont img {
  margin-bottom: 20px;
  opacity: .7;
}

.mockup .mockup-cont .blurry {
  position: relative;
}

.mockup .mockup-cont .blurry p {
  filter: blur(2.5px);
  -webkit-filter: blur(2.5px);
}

.btn {
  background: #1b93f2;
  border: 0;
  color: #fff;
  display: inline-block;
  font: 14px/36px 'FuturaICG', sans-serif;
  padding: 0 20px;
  text-transform: uppercase;
  transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  text-decoration: none;
}

.btn:hover {
  background: #0c78ce;
  cursor: pointer;
  color: #fff;
}

.mockup .mockup-cont .blurry .btn {
  font-size: 11px;
  left: 50%;
  padding: 0 10px;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  white-space: nowrap;
}

.icons-cont i {
  background: #eee;
  border-radius: 50%;
  display: inline-block;
  font: inherit;
  font-family: sans-serif;
  height: 25px;
  line-height: 25px;
  text-align: center;
  width: 25px;
  vertical-align: middle;
}

.mockup .align-right {
  float: none !important;
  text-align: right;
}

.modal-shown .atm-targeted-container {
  min-width: 0;
}

#edit-line1, #edit-line2 {
  clear: both;
}

.atm-modal {
  display: none;
  position: fixed;
  z-index: 99999;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.atm-modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  box-sizing: border-box;
  height: 80%;
}

.atm-close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

#atm-terms-modal-content {
  height: calc(100% - 40px);
  overflow: auto;
}

#atm-admin-config-page input {
  height: 38px;
  font-size: 14px;
  line-height: 38px;
  padding: 3px;
  width: 100%;
}

#atm-admin-config-page .form-submit, #atm-admin-config-page .form-checkbox {
  padding: 4px 1.5em;
  line-height: normal;
  font-size: 16px;
  height: auto;
  width: auto;
}

#atm-admin-config-page select {
  display: block;
  width: 100%;
  height: 38px;
  font-size: 14px;
  padding: 3px;
}

#edit-other .atm-base-modal {
  background-color: #ffffff;
  width: 100%;
  height: auto;
  margin: auto;
  min-height: 120px;
  padding: 0;
  font-size: 13px;
}

#edit-other .price-view.atm-main {
  background: #fff;
  border: 1px solid #d3d3d3;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  float: none;
  padding: 13px;
  width: 100%;
}

#edit-other .unlock-cont {
  position: relative;
}

#edit-other .price-view.atm-main .blurred {
  filter: blur(2.5px);
  -webkit-filter: blur(2.5px);
}

#edit-other .unlock-cont p {
  text-align: justify;
}

#edit-other .unlock-cont .unlock-btn {
  height: 30px;
  left: 50%;
  line-height: 30px;
  padding: 0 10px;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  white-space: nowrap;
}

#edit-content-types .form-type-checkbox {
  display: inline-block;
  margin-right: 15px;
}

#edit-content-types .form-type-checkbox * {
  vertical-align: middle;
}

/*  switch */
.onoffswitch {
  position: relative;
  width: 86px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.onoffswitch-checkbox {
  display: none;
}

.onoffswitch-label {
  display: block !important;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #999999;
  border-radius: 50px;
}

.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 24px;
  padding: 0;
  line-height: 24px;
  font-size: 18px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}

.onoffswitch-inner:before {
  content: "ON";
  padding-left: 12px;
  background-color: #34A7C1;
  color: #FFFFFF;
}

.onoffswitch-inner:after {
  content: "OFF";
  padding-right: 12px;
  background-color: #EEEEEE;
  color: #999999;
  text-align: right;
}

.onoffswitch-switch {
  display: block;
  width: 31px;
  margin: -3.5px;
  background: #FFFFFF;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 58px;
  border: 2px solid #999999;
  border-radius: 50px;
  transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}

.onoffswitch-checkbox-label {
  display: block;
  font-weight: bold;
  margin-top: 0.75em;
}