.flex-item-1 {
  flex: 0 0 8.33333%;
  -webkit-flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.flex-item-2 {
  flex: 0 0 16.66667%;
  -webkit-flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.flex-item-3 {
  flex: 0 0 25%;
  -webkit-flex: 0 0 25%;
  max-width: 25%;
}

.flex-item-4 {
  flex: 0 0 33.33333%;
  -webkit-flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.flex-item-5 {
  flex: 0 0 41.66667%;
  -webkit-flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.flex-item-6 {
  flex: 0 0 50%;
  -webkit-flex: 0 0 50%;
  max-width: 50%;
}

.flex-item-7 {
  flex: 0 0 58.33333%;
  -webkit-flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.flex-item-8 {
  flex: 0 0 66.66667%;
  -webkit-flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.flex-item-9 {
  flex: 0 0 75%;
  -webkit-flex: 0 0 75%;
  max-width: 75%;
}

.flex-item-10 {
  flex: 0 0 83.33333%;
  -webkit-flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.flex-item-11 {
  flex: 0 0 91.66667%;
  -webkit-flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

#atm-modal-content .atm-targeted-container {
  z-index: 1;
}